# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
env/
venv/
.env
*.sqlite3

# Jupyter
.ipynb_checkpoints

# PyTorch / models
*.pt
*.pth
models/trained/

# Data
data/raw/
data/processed/

# VSCode / mac
.vscode/
.DS_Store

# Logs / Streamlit
*.log
.streamlit/
